body {
  font-family: "Roboto", sans-serif;
}
#search-input {
  padding: 0.5rem;
  width: 12rem;
}

#search-exit-btn,
#search-btn {
  background-color: transparent;
  border: none;
  font-size: 2rem;
  cursor: pointer;
  margin-left: 4rem;
  color: lightslategray;
}

#search-exit-btn:hover,
#search-btn:hover,
#cities-search-btn:hover,
#fav-cities-btn:hover {
  opacity: 0.6;
}

#cities-search-btn {
  border: none;
  background-color: lightslategray;
  color: #fff;
  font-size: 1.2rem;
  padding: 0.5rem;
}

#fav-cities {
  display: flex;
  justify-content: end;
  position: relative;
}
#fav-cities-btn {
  border: none;
  font-size: 2rem;
  width: 6rem;
  height: 6rem;
  color: #fff;
  background-color: #757aff;
  border-radius: 50%;
  padding: 1rem;
  cursor: pointer;
  margin: 1%;
  position: absolute;
  top: -2rem;
}

.weather-container {
  padding-left: 15%;
  padding-top: 1px;
  color: #353535;
  padding-bottom: 30px;
  clip-path: ellipse(130% 100% at 50% 0%);
}
h2 {
  font-size: 1rem;
  margin-top: 2rem;
}

/* Sunrise and sunset styles */
.sunrise-sunset {
  display: flex;
  width: 14rem;
  justify-content: space-between;
}

/* Search styles */
.search {
  display: flex;
  margin-top: 20px;
}

/* Error message styles */
.error-msg {
  background-color: beige;
  color: red;
}

h2 {
  font-size: 5rem;
  font-weight: 100;
  margin-bottom: 0;
}
/* styling for 5 days forecast table*/
table {
  padding-left: 10%;
}
th,
td {
  text-align: left;
  padding: 25px;
}
th {
  background-color: #f2f2f2;
}
.weather-icon {
  font-size: 20px;
  vertical-align: middle;
}
/* Adjust the spacing between columns */
td:nth-child(2) {
  padding-left: 15%; /* Adjust padding for the third column */
}
td:nth-child(3) {
  padding-right: 0;
}
.weather-images-container {
  position: absolute;
  top: 6.5rem;
  left: 70%;
}

#user-location-btn {
  background-color: white;
  border: none;
  font-size: 20px;
}

.top-container {
  display: flex;
  justify-content: space-around;
}

/* Animation for sunny images*/
.sunny-animation {
  animation: pulsate 3s infinite;
}
.rainy-animation {
  animation: pulsate 7s infinite;
}
@keyframes pulsate {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

/* Animation for cloudy images */
.cloudy-animation {
  animation: cloudy-animation 5s linear infinite;
  width: 8rem;
}
@keyframes cloudy-animation {
  0% {
    transform: translateX(-60%);
  }
  50% {
    transform: translateX(30%);
  }
  100% {
    transform: translateX(-60%);
  }
}

/* Media queries for tablet and desktop */
@media (min-width: 768px) and (max-width: 1800px) {
  /* Tablet and desktop styles can go here */
  body {
    /* margin: 3% 45% 10% 25%; */
    max-width: 470px;
    margin: auto;
    height: 860px;
    margin-top: 2rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Add shadow */
    background-color: rgba(255, 255, 255, 0.8);
  }
  .weather-container {
    padding-left: 20%;
    padding-top: 2%;
  }
  .search {
    margin: 0 0 0 20%;
    padding: 5% 0 1% 0;
    margin-left: 0;
  }

  .weather-images-container {
    left: 58%;
  }

  table {
    margin-left: 6%;
  }
  #fav-cities {
    padding-right: 5%;
  }
  .weather-icon {
    font-size: 30px;
    vertical-align: middle;
  }
}

/* animation*/

/* //Adding CSS Animations */
.sunny-animation {
  animation: pulsate 3s infinite;
}
.rainy-animation {
  animation: pulsate 7s infinite;
  width: 5rem;
}
.snow-animation {
  animation: pulsate 7s infinite;
  width: 5rem;
}
@keyframes pulsate {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
.cloudy-animation {
  animation: cloudy-animation 5s linear infinite;
  width: 5rem;
}
@keyframes cloudy-animation {
  0% {
    transform: translateX(-60%);
  }
  50% {
    transform: translateX(30%);
  }
  100% {
    transform: translateX(-60%);
  }
}

.loading-spinner {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.7);
  top: 0;
  left: 0;
  z-index: 9999;
}

.spinner {
  border: 6px solid #f3f3f3; /* Light grey */
  border-top: 6px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 50px;
  height: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
