body {
  font-family: "Roboto", sans-serif;
}
#search-input {
  padding: 0.5rem;
  width: 12rem;
}

#search-exit-btn,
#search-btn {
  background-color: transparent;
  border: none;
  font-size: 2rem;
  cursor: pointer;
  margin-left: 4rem;
  color: #fff;
}

#search-exit-btn:hover,
#search-btn:hover,
#cities-search-btn:hover,
#fav-cities-btn:hover {
  opacity: 0.6;
}

#cities-search-btn {
  border: none;
  background-color: #222350;
  color: #fff;
  font-size: 1.2rem;
}

#fav-cities {
  display: flex;
  justify-content: end;
  margin-right: 30px;
}
#fav-cities-btn {
  border: none;
  font-size: 2rem;
  width: 4rem;
  color: #fff;
  background-color: #757aff;
  border-radius: 50%;
  padding: 1rem;
  cursor: pointer;
  margin: 1%;
}

.weather-container {
  padding-left: 15%;
  color: #fff;
}
h2 {
  font-size: 1rem;
}

/* Sunrise and sunset styles */
.sunrise-sunset {
  display: flex;
  width: 14rem;
  justify-content: space-between;
}

/* Search styles */
.search {
  margin: 10% 0 0 16%;
}

/* Error message styles */
.error-msg {
  background-color: beige;
  color: red;
}

h2 {
  font-size: 5rem;
  font-weight: 100;
  margin-bottom: 0;
}
/* styling for 5 days forecast table*/
table {
  padding-left: 10%;
}
th,
td {
  text-align: left;
  padding: 25px;
}
th {
  background-color: #f2f2f2;
}
.weather-icon {
  font-size: 20px;
  vertical-align: middle;
}
/* Adjust the spacing between columns */
td:nth-child(2) {
  padding-left: 15%; /* Adjust padding for the third column */
}
td:nth-child(3) {
  padding-right: 0;
}

/* Media queries for tablet and desktop */
@media (min-width: 768px) and (max-width: 1380px) {
  /* Tablet and desktop styles can go here */
  body {
    margin: 10% 25% 10% 25%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Add shadow */
    background-color: rgba(255, 255, 255, 0.8);
  }
  .weather-container {
    padding-left: 20%;
    padding-top: 2%;
  }
  .search {
    margin: 0 0 0 20%;
    padding: 5% 0 1% 0;
    margin-left: 0;
  }

  table {
    margin-left: 6%;
  }
  #fav-cities {
    padding-right: 10%;
  }
  .weather-icon {
    font-size: 30px;
    vertical-align: middle;
  }
}

.weather-images-container {
  display: none;
  position: absolute;
  top: 14rem;
  left: 65%;
  transform: translateX(-50%);
}

/* animation*/
/* //Adding CSS Animations */
.sunny-animation {
  animation: pulsate 3s infinite;
}
.rainy-animation {
  animation: pulsate 7s infinite;
}
@keyframes pulsate {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
.cloudy-animation {
  animation: cloudy-animation 5s linear infinite;
  width: 5rem;
}
@keyframes cloudy-animation {
  0% {
    transform: translateX(-60%);
  }
  50% {
    transform: translateX(30%);
  }
  100% {
    transform: translateX(-60%);
  }
}
